@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
@import "http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300";
body {
    font: 400 13.3px/1.8 'Open sans', serif;
    color: #666;
    overflow-x: hidden
}

img {
    max-width: 100%;
    height: auto
}

a {
    color: #F2784B
}

a:hover {
    text-decoration: none;
    color: #999
}

.navbar a,
.form-control {
    -webkit-transition: all .4s ease-in-out 0;
    -moz-transition: all .4s ease-in-out 0;
    -ms-transition: all .4s ease-in-out 0;
    -o-transition: all .4s ease-in-out 0;
    transition: all .4s ease-in-out 0
}

a,
.btn {
    -webkit-transition: all .125s ease-in-out 0;
    -moz-transition: all .125s ease-in-out 0;
    -ms-transition: all .125s ease-in-out 0;
    -o-transition: all .125s ease-in-out 0;
    transition: all .125s ease-in-out 0
}

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none
}

h1,
.hello {
    font: 700 30px/1.2 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 200px 10px 20px px;
    color: #fff
}

h2,
h3,
h4,
h5 {
    font: 700 45px/1.2 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0;
    color: #222
}

h6 {
    font: 300 20px/1.2 'Roboto Condensed', sans-serif;
    margin: 0;
    color: white
}

h2 {
    font-size: 35px;
    margin: 0 0 30px
}

h3 {
    font-size: 16.5px;
    letter-spacing: 1px;
    margin: 0 0 5px
}

h4 {
    font-size: 14.5px;
    letter-spacing: 1px
}

h5 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400
}

h6 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400
}

.h-30 {
    height: 40px
}

.btn,
.iconbox,
.progress,
#filter li,
.scroll-up a,
.form-control,
.input-group-addon {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.alert {
    border: 0
}

.progress,
.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress-bar {
    background-color: #F2784B
}

.nav-pills,
.nav-tabs {
    margin-bottom: 20px
}

.nav-pills>li>a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.nav-tabs>li>a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background: #F2784B
}

.panel {
    border: 0
}

.panel-body {
    background: #f5f5f5
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0
}

.modal-content {
    border: 0
}

.label {
    padding: .2em .6em;
    font-size: 70%
}

.label-custom-1 {
    background: #F2784B
}

.label-custom-2 {
    background: #222
}

.input-group .form-control {
    z-index: auto
}

.input-group-addon {
    background: #D8E1E4;
    border: 2px solid #D8E1E4;
    padding: 6px 15px;
    font-weight: 700
}

.form-control {
    background: #FFF;
    border: 2px solid #D8E1E4;
    font-size: 12px;
    padding: 0 15px
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
    height: 38px;
    font-size: 13px
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
    font-size: 11px;
    height: 30px
}

textarea.form-control {
    padding: 15px
}

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 8px 26px;
    border: 0
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit!important
}

.btn-list .btn {
    margin-bottom: 5px
}

.btn-custom-1,
.btn-custom-2,
.btn-custom-3,
.btn-custom-4 {
    padding: 7px 25px
}

.btn-custom-1 {
    background: #F2784B;
    border: 1px solid #F2784B;
    color: #fff
}

.btn-custom-1:hover,
.btn-custom-1:focus,
.btn-custom-1:active,
.btn-custom-1.active {
    background: #fff;
    border-color: #fff;
    color: #222
}

.btn-custom-2 {
    background: #f2784b;
    border: 1px solid #f2784b;
    color: #fff
}

.btn-custom-2:hover,
.btn-custom-2:focus,
.btn-custom-2:active,
.btn-custom-2.active {
    background: #222;
    border-color: #222;
    color: #fff
}

.btn-custom-3 {
    background: none;
    border: 1px solid #222;
    color: #222
}

.btn-custom-3:hover,
.btn-custom-3:focus,
.btn-custom-3:active,
.btn-custom-3.active {
    background: #F2784B;
    border-color: #F2784B;
    color: #FFF
}

.btn-custom-4 {
    background: none;
    border: 1px solid #222;
    color: #222
}

.btn-custom-4:hover,
.btn-custom-4:focus,
.btn-custom-4:active,
.btn-custom-4.active {
    background: #222;
    color: #FFF
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 25px;
    font-size: 14px
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 6px 25px;
    font-size: 12px
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 5px 25px;
    font-size: 11px
}

.btn .icon-before {
    margin-right: 6px
}

.btn .icon-after {
    margin-left: 6px
}

.module {
    padding: 120px 0 100px
}

.module-gray-twit {
    background: #f5f5f5;
    height: 450px
}

.module-gray {
    background: #f5f5f5
}

.module-image {
    padding: 0
}

.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6,
.module-image,
.module-image h1,
.module-image h2,
.module-image h3,
.module-image h4,
.module-image h5,
.module-image h6 {
    color: #fff
}

.paddingb-none {
    padding-bottom: 0
}

.module-header {
    text-align: center;
    margin: 0 0 60px
}

.module-header-left {
    text-align: left
}

.module-header-left .module-line {
    width: inherit;
    margin: 30px 0
}

.module-subtitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14.5px
}

.module-line {
    background: #F2784B;
    width: 55px;
    height: 1px;
    margin: 30px auto
}

.module-line1 {
    background: #F2784B;
    width: 40px;
    height: 1px;
    margin: 20px 15px
}

.module-icon {
    font-size: 32px
}

.callout {
    background: #f2784b;
    padding: 30px 0;
    color: #999
}

.callout h2 {
    font-size: 21px;
    letter-spacing: 1px;
    margin-bottom: 5px
}

.callout-btn {
    text-align: right
}

.callout-btn>.btn {
    margin-top: 5px;
    margin-bottom: 5px
}

.long-down {
    margin-bottom: 40px
}

#home {
    background: url(../images/header.jpg);
    background-color: #222;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px
}

.iconbox {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 20px
}

.iconbox-icon {
    margin: 0 0 15px;
    font-size: 32.5px;
    color: #222
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0
}

.margin-0 {
    margin: 0!important
}

.position-relative {
    position: relative
}

.side-image {
    position: absolute;
    background: url(../images/obino.jpg) scroll center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

.side-image-text {
    background: #fff;
    padding: 100px 60px 50px
}

.iconboxleft {
    position: relative;
    margin: 0 0 50px
}

.iconboxleft-icon {
    position: absolute;
    width: 55px;
    left: 0;
    top: 0;
    font-size: 32.5px;
    line-height: 1
}

.iconboxleft-text {
    padding-left: 55px
}

.iconboxleft-title {
    margin: 0 0 15px;
    padding: 0
}

#filter {
    list-style-type: none;
    text-align: center;
    margin: 0 0 40px;
    padding: 0
}

#filter li {
    background: #f5f5f5;
    display: inline-block;
    font: 400 13px/1.2 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 6px 20px;
    margin: 5px;
    color: #222;
    cursor: pointer
}

#filter li:hover,
#filter li.active {
    background: #f2784b;
    color: #fff
}

.portfolio-items-container {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0
}

.portfolio-items-container .portfolio-item {
    display: block;
    list-style: none;
    overflow: hidden;
    width: 25%;
    width: 50%;
    padding: 0
}

.portfolio-items-container .portfolio-item img {
    display: block;
    width: 100%;
    height: auto
}

.portfolio-items-container .portfolio-item {
    -webkit-transition: opacity .35s ease 0s, transform .35s ease 0;
    -moz-transition: opacity .35s ease 0s, transform .35s ease 0;
    -ms-transition: opacity .35s ease 0s, transform .35s ease 0;
    -o-transition: opacity .35s ease 0s, transform .35s ease 0;
    transition: opacity .35s ease 0s, transform .35s ease 0
}

.portfolio-items-container .portfolio-item figcaption {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    padding: 5px;
    opacity: 0;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.portfolio-items-container .portfolio-item a {
    font-size: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-indent: 200%;
    top: 0;
    width: 100%;
    z-index: 1000
}

.portfolio-items-container .caption-inner {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -20px
}

.caption-inner .portfolio-item-title {
    font-size: 16px;
    font-weight: 400;
    color: #f2784b
}

.caption-inner .portfolio-item-desc {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 13.5px;
    color: #303030
}

.portfolio-items-container .portfolio-item:hover figcaption {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.white-popup-block {
    position: relative;
    background: #fff;
    text-align: left;
    max-width: 940px;
    margin: 40px auto
}

.mfp-bg {
    background: #000;
    opacity: .97;
    filter: alpha(opacity=97)
}

.popup-content,
.popup-callout {
    padding: 60px 40px
}

.popup-callout {
    background: #f5f5f5;
    text-align: center
}

.popup-header {
    text-align: left;
    margin: 0 0 20px;
    padding-top: 60px
}

.popup-title {
    margin: 0 0 5px
}

.popup-subtitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14.5px
}

.popup-line {
    background: #F2784B;
    margin-bottom: 20px;
    width: 55px;
    height: 1px;
    float: left
}

.mfp-close-btn-in .mfp-close {
    color: #fff
}

button.mfp-close {
    position: absolute;
    border: 2px solid #fff;
    display: block;
    right: -60px;
    top: 0;
    width: 48px;
    height: 48px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.portfolio-slider .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 16.5px
}

.portfolio-slider img {
    width: 100%
}

.portfolio-slider .owl-controls {
    margin: 0
}

.portfolio-slider .owl-controls .owl-buttons .owl-prev {
    left: 0;
    margin: -20px 0 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.portfolio-slider .owl-controls .owl-buttons .owl-next {
    right: 0;
    margin: -20px 0 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

#twitter {
    text-align: center
}

.tweet {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 16.5px margin-bottom: 10px
}

.timePosted {
    font: 400 13px/1.8 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px 0;
    color: #777
}

.interact {
    margin: 0
}

.interact a {
    margin-right: 10px
}

#map-section {
    display: none;
    position: relative;
    height: 450px;
    width: 100%
}

#map {
    display: none;
    height: 450px;
    width: 100%
}

.ajax-response {
    text-align: center
}

#footer {
    background: #282828;
    text-align: center;
    padding: 60px 0;
    color: #FFF
}

.copyright {
    margin: 0
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px
}

.social-links li {
    display: inline-block;
    margin: 5px
}

.social-links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 14px;
    color: rgba(255, 255, 255, .2)
}

.social-links a:hover {
    border: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .5)
}

.header {
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 998
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif
}

.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 12px;
    letter-spacing: 3px;
    color: #222
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active a {
    background: none;
    outline: 0;
    color: #F2784B
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px
}

.navbar-custom .dropdown-menu {
    border: 0;
    border-top: 2px solid #F2784B;
    border-radius: 0
}

.navbar-custom .dropdown-menu>li>a {
    padding: 10px 20px
}

.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
    background: #f5f5f5
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em
}

.scroll-up a {
    background-color: rgba(135, 135, 135, .5);
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #222;
    font-size: 14.5px;
    line-height: 30px
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: rgba(235, 235, 235, .8);
    color: #222
}

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -15px;
    display: block;
    z-index: 10
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-play-state: running;
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0
    }
    30% {
        top: 10px;
        opacity: 1
    }
    100% {
        top: 25px;
        opacity: 0
    }
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0
    }
    30% {
        top: 10px;
        opacity: 1
    }
    100% {
        top: 25px;
        opacity: 0
    }
}

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999
}

#status,
.status-mes {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%
}

@media (max-width:991px) {
    .side-image {
        position: relative;
        height: 300px
    }
    .portfolio-items-container .portfolio-item {
        width: 50%
    }
    .white-popup-block {
        margin: 80px auto
    }
    button.mfp-close {
        position: absolute;
        right: 50%;
        margin-right: -24px;
        top: -60px
    }
    .mfp-close:active {
        top: -59px
    }
}

@media (max-width:767px) {
    .portfolio-items-container .portfolio-item {
        width: 100%
    }
    .callout {
        text-align: center
    }
    .side-image-text {
        padding-left: 15px;
        padding-right: 15px
    }
    .mouse-icon {
        display: none
    }
}

@media (max-width:480px) {
    h1,
    .hello {
        font-size: 34px;
        letter-spacing: 3px
    }
    h2 {
        font-size: 24px;
        margin: 0 0 30px;
        letter-spacing: 3px
    }
}

.sli-examples .item:hover {
    background: #f0f0f0;
    color: #000
}

.sli-examples .item {
    display: block;
    width: 33%;
    float: left;
    padding: 0;
    border: 1px solid #e5e5e5;
    margin: -1px 0 0 -1px;
    font-size: 13px
}

.sli-examples .item>span {
    display: inline-block;
    margin-right: 5px;
    min-width: 70px;
    min-height: 70px;
    border-right: 1px solid #f1f1f1;
    line-height: 70px;
    text-align: center;
    font-size: 32px
}

.fa-examples>div {
    padding: 0;
    border: 1px solid #e5e5e5;
    margin: -1px 0 0 -1px;
    font-size: 13px
}

.fa-examples>div>i {
    display: inline-block;
    margin-right: 5px;
    min-width: 40px;
    min-height: 40px;
    border-right: 1px solid #f1f1f1;
    line-height: 40px;
    text-align: center;
    font-size: 14px
}

.col-md-12 img {
    margin-top: 50px
}

.navbar-brand img {
    width: 25px;
    height: 25px
}